USE [master]
GO
/****** Object:  Database [HVTSchoolV2]    Script Date: 6/27/2020 3:20:09 PM ******/
CREATE DATABASE [HVTSchoolV2]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'HVTSchoolV2', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\HVTSchoolV2.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'HVTSchoolV2_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\HVTSchoolV2_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [HVTSchoolV2].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [HVTSchoolV2]
GO
USE [HVTSchoolV2]
GO
/****** Object:  Table [dbo].[CLASSES]    Script Date: 6/27/2020 3:20:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CLASSES](
	[CLASS_ID] [int] IDENTITY(1,1) NOT NULL,
	[GRADE] [int] NOT NULL,
	[GIFTED_CLASS_ID] [int] NOT NULL,
	[MAPPING_NAME] [nvarchar](50) NOT NULL,
	[STATUS] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[CLASS_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DAY]    Script Date: 6/27/2020 3:20:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DAY](
	[DAY_ID] [int] IDENTITY(1,1) NOT NULL,
	[DAY_NAME] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[DAY_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GIFTED_CLASS]    Script Date: 6/27/2020 3:20:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GIFTED_CLASS](
	[GIFTED_CLASS_ID] [int] IDENTITY(1,1) NOT NULL,
	[NAME] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[GIFTED_CLASS_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MAIN_TEACHER_CLASSES]    Script Date: 6/27/2020 3:20:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MAIN_TEACHER_CLASSES](
	[CLASS_ID] [int] NOT NULL,
	[TEACHER_ID] [int] NOT NULL,
	[DATE_FROM] [date] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[CLASS_ID] ASC,
	[DATE_FROM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ROLES]    Script Date: 6/27/2020 3:20:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ROLES](
	[ROLE_ID] [int] IDENTITY(1,1) NOT NULL,
	[ROLE_NAME] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ROLE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SCHOOL_WEEKS]    Script Date: 6/27/2020 3:20:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SCHOOL_WEEKS](
	[WEEK_ID] [int] IDENTITY(1,1) NOT NULL,
	[MONTH_ID] [int] NULL,
	[WEEK] [int] NOT NULL,
	[FROM_DATE] [date] NULL,
	[TO_DATE] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[WEEK_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TEACHERS]    Script Date: 6/27/2020 3:20:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TEACHERS](
	[TEACHER_ID] [int] IDENTITY(1,1) NOT NULL,
	[FULL_NAME] [nvarchar](50) NOT NULL,
	[PHONE] [nvarchar](20) NULL,
	[EMAIL] [nvarchar](50) NULL,
	[MAPPING_NAME] [nvarchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[TEACHER_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TIMETABLES]    Script Date: 6/27/2020 3:20:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TIMETABLES](
	[TIMETABLE_ID] [int] IDENTITY(1,1) NOT NULL,
	[TEACHER_ID] [int] NOT NULL,
	[CLASS_ID] [int] NOT NULL,
	[SLOT] [int] NOT NULL,
	[DAY_ID] [int] NOT NULL,
	[SUBJECT] [nvarchar](50) NOT NULL,
	[APPLY_FROM_WEEK] [int] NOT NULL,
	[IS_AFTERNOON] [int] NULL,
	[IS_ODD_WEEK] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[TIMETABLE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[USERS]    Script Date: 6/27/2020 3:20:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USERS](
	[USER_NAME] [nvarchar](50) NOT NULL,
	[PASS_WORD] [nvarchar](50) NOT NULL,
	[ROLE_ID] [int] NULL,
	[CLASS_ID_OFUSER] [int] NULL,
	[FULL_NAME] [nvarchar](50) NULL,
	[PHONE] [nvarchar](20) NULL,
	[EMAIL] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[USER_NAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[CLASSES] ON 

INSERT [dbo].[CLASSES] ([CLASS_ID], [GRADE], [GIFTED_CLASS_ID], [MAPPING_NAME], [STATUS]) VALUES (2, 10, 1, N'10T', NULL)
INSERT [dbo].[CLASSES] ([CLASS_ID], [GRADE], [GIFTED_CLASS_ID], [MAPPING_NAME], [STATUS]) VALUES (3, 10, 2, N'10L', NULL)
INSERT [dbo].[CLASSES] ([CLASS_ID], [GRADE], [GIFTED_CLASS_ID], [MAPPING_NAME], [STATUS]) VALUES (4, 11, 1, N'11T', NULL)
SET IDENTITY_INSERT [dbo].[CLASSES] OFF
SET IDENTITY_INSERT [dbo].[DAY] ON 

INSERT [dbo].[DAY] ([DAY_ID], [DAY_NAME]) VALUES (1, N'thứ 2')
INSERT [dbo].[DAY] ([DAY_ID], [DAY_NAME]) VALUES (2, N'thứ 3')
INSERT [dbo].[DAY] ([DAY_ID], [DAY_NAME]) VALUES (3, N'thứ 4')
SET IDENTITY_INSERT [dbo].[DAY] OFF
SET IDENTITY_INSERT [dbo].[GIFTED_CLASS] ON 

INSERT [dbo].[GIFTED_CLASS] ([GIFTED_CLASS_ID], [NAME]) VALUES (1, N'toán')
INSERT [dbo].[GIFTED_CLASS] ([GIFTED_CLASS_ID], [NAME]) VALUES (2, N'lý')
INSERT [dbo].[GIFTED_CLASS] ([GIFTED_CLASS_ID], [NAME]) VALUES (3, N'hóa')
SET IDENTITY_INSERT [dbo].[GIFTED_CLASS] OFF
SET IDENTITY_INSERT [dbo].[ROLES] ON 

INSERT [dbo].[ROLES] ([ROLE_ID], [ROLE_NAME]) VALUES (1, N'ADMIN')
INSERT [dbo].[ROLES] ([ROLE_ID], [ROLE_NAME]) VALUES (2, N'Người quản lý thời khóa biểu')
INSERT [dbo].[ROLES] ([ROLE_ID], [ROLE_NAME]) VALUES (3, N'Sao đỏ')
SET IDENTITY_INSERT [dbo].[ROLES] OFF
SET IDENTITY_INSERT [dbo].[SCHOOL_WEEKS] ON 

INSERT [dbo].[SCHOOL_WEEKS] ([WEEK_ID], [MONTH_ID], [WEEK], [FROM_DATE], [TO_DATE]) VALUES (1, 1, 1, CAST(N'2020-01-01' AS Date), CAST(N'2020-01-07' AS Date))
INSERT [dbo].[SCHOOL_WEEKS] ([WEEK_ID], [MONTH_ID], [WEEK], [FROM_DATE], [TO_DATE]) VALUES (2, 1, 2, CAST(N'2020-02-02' AS Date), CAST(N'2020-02-07' AS Date))
INSERT [dbo].[SCHOOL_WEEKS] ([WEEK_ID], [MONTH_ID], [WEEK], [FROM_DATE], [TO_DATE]) VALUES (3, 1, 3, NULL, NULL)
SET IDENTITY_INSERT [dbo].[SCHOOL_WEEKS] OFF
SET IDENTITY_INSERT [dbo].[TEACHERS] ON 

INSERT [dbo].[TEACHERS] ([TEACHER_ID], [FULL_NAME], [PHONE], [EMAIL], [MAPPING_NAME]) VALUES (3, N'giáo viên 1', NULL, NULL, N'gv1')
INSERT [dbo].[TEACHERS] ([TEACHER_ID], [FULL_NAME], [PHONE], [EMAIL], [MAPPING_NAME]) VALUES (4, N'giáo viên 2', NULL, NULL, N'gv2')
INSERT [dbo].[TEACHERS] ([TEACHER_ID], [FULL_NAME], [PHONE], [EMAIL], [MAPPING_NAME]) VALUES (5, N'giáo viên 3', NULL, NULL, N'gv3')
SET IDENTITY_INSERT [dbo].[TEACHERS] OFF
SET IDENTITY_INSERT [dbo].[TIMETABLES] ON 

INSERT [dbo].[TIMETABLES] ([TIMETABLE_ID], [TEACHER_ID], [CLASS_ID], [SLOT], [DAY_ID], [SUBJECT], [APPLY_FROM_WEEK], [IS_AFTERNOON], [IS_ODD_WEEK]) VALUES (4, 3, 2, 1, 1, N'toán', 1, NULL, NULL)
INSERT [dbo].[TIMETABLES] ([TIMETABLE_ID], [TEACHER_ID], [CLASS_ID], [SLOT], [DAY_ID], [SUBJECT], [APPLY_FROM_WEEK], [IS_AFTERNOON], [IS_ODD_WEEK]) VALUES (5, 4, 3, 1, 2, N'lý', 2, NULL, NULL)
SET IDENTITY_INSERT [dbo].[TIMETABLES] OFF
INSERT [dbo].[USERS] ([USER_NAME], [PASS_WORD], [ROLE_ID], [CLASS_ID_OFUSER], [FULL_NAME], [PHONE], [EMAIL]) VALUES (N'user1', N'123', 1, NULL, NULL, NULL, NULL)
INSERT [dbo].[USERS] ([USER_NAME], [PASS_WORD], [ROLE_ID], [CLASS_ID_OFUSER], [FULL_NAME], [PHONE], [EMAIL]) VALUES (N'user2', N'123', 4, 2, NULL, NULL, NULL)
INSERT [dbo].[USERS] ([USER_NAME], [PASS_WORD], [ROLE_ID], [CLASS_ID_OFUSER], [FULL_NAME], [PHONE], [EMAIL]) VALUES (N'user3', N'123', 3, 3, NULL, NULL, NULL)
/****** Object:  Index [UC_CLASS]    Script Date: 6/27/2020 3:20:10 PM ******/
ALTER TABLE [dbo].[CLASSES] ADD  CONSTRAINT [UC_CLASS] UNIQUE NONCLUSTERED 
(
	[GRADE] ASC,
	[GIFTED_CLASS_ID] ASC,
	[STATUS] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [CT_teacher_date]    Script Date: 6/27/2020 3:20:10 PM ******/
ALTER TABLE [dbo].[MAIN_TEACHER_CLASSES] ADD  CONSTRAINT [CT_teacher_date] UNIQUE NONCLUSTERED 
(
	[TEACHER_ID] ASC,
	[DATE_FROM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [CT_TIMETABLE1]    Script Date: 6/27/2020 3:20:10 PM ******/
ALTER TABLE [dbo].[SCHOOL_WEEKS] ADD  CONSTRAINT [CT_TIMETABLE1] UNIQUE NONCLUSTERED 
(
	[MONTH_ID] ASC,
	[WEEK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__TEACHERS__B63CE8B810D9647C]    Script Date: 6/27/2020 3:20:10 PM ******/
ALTER TABLE [dbo].[TEACHERS] ADD UNIQUE NONCLUSTERED 
(
	[MAPPING_NAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [CT_TIMETABLE11]    Script Date: 6/27/2020 3:20:10 PM ******/
ALTER TABLE [dbo].[TIMETABLES] ADD  CONSTRAINT [CT_TIMETABLE11] UNIQUE NONCLUSTERED 
(
	[CLASS_ID] ASC,
	[SLOT] ASC,
	[DAY_ID] ASC,
	[APPLY_FROM_WEEK] ASC,
	[IS_AFTERNOON] ASC,
	[IS_ODD_WEEK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [CT_TIMETABLE2]    Script Date: 6/27/2020 3:20:10 PM ******/
ALTER TABLE [dbo].[TIMETABLES] ADD  CONSTRAINT [CT_TIMETABLE2] UNIQUE NONCLUSTERED 
(
	[TEACHER_ID] ASC,
	[SLOT] ASC,
	[DAY_ID] ASC,
	[APPLY_FROM_WEEK] ASC,
	[IS_AFTERNOON] ASC,
	[IS_ODD_WEEK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[CLASSES]  WITH CHECK ADD  CONSTRAINT [fk_gifted_class] FOREIGN KEY([GIFTED_CLASS_ID])
REFERENCES [dbo].[GIFTED_CLASS] ([GIFTED_CLASS_ID])
GO
ALTER TABLE [dbo].[CLASSES] CHECK CONSTRAINT [fk_gifted_class]
GO
ALTER TABLE [dbo].[MAIN_TEACHER_CLASSES]  WITH CHECK ADD  CONSTRAINT [fk_main_teacher_classes_class_id] FOREIGN KEY([CLASS_ID])
REFERENCES [dbo].[CLASSES] ([CLASS_ID])
GO
ALTER TABLE [dbo].[MAIN_TEACHER_CLASSES] CHECK CONSTRAINT [fk_main_teacher_classes_class_id]
GO
ALTER TABLE [dbo].[MAIN_TEACHER_CLASSES]  WITH CHECK ADD  CONSTRAINT [fk_main_teacher_classes_teacher_id] FOREIGN KEY([TEACHER_ID])
REFERENCES [dbo].[TEACHERS] ([TEACHER_ID])
GO
ALTER TABLE [dbo].[MAIN_TEACHER_CLASSES] CHECK CONSTRAINT [fk_main_teacher_classes_teacher_id]
GO
ALTER TABLE [dbo].[TIMETABLES]  WITH CHECK ADD  CONSTRAINT [fk_timetables_class_id] FOREIGN KEY([CLASS_ID])
REFERENCES [dbo].[CLASSES] ([CLASS_ID])
GO
ALTER TABLE [dbo].[TIMETABLES] CHECK CONSTRAINT [fk_timetables_class_id]
GO
ALTER TABLE [dbo].[TIMETABLES]  WITH CHECK ADD  CONSTRAINT [fk_timetables_day_id] FOREIGN KEY([DAY_ID])
REFERENCES [dbo].[DAY] ([DAY_ID])
GO
ALTER TABLE [dbo].[TIMETABLES] CHECK CONSTRAINT [fk_timetables_day_id]
GO
ALTER TABLE [dbo].[TIMETABLES]  WITH CHECK ADD  CONSTRAINT [fk_timetables_teacher_id] FOREIGN KEY([TEACHER_ID])
REFERENCES [dbo].[TEACHERS] ([TEACHER_ID])
GO
ALTER TABLE [dbo].[TIMETABLES] CHECK CONSTRAINT [fk_timetables_teacher_id]
GO
ALTER TABLE [dbo].[TIMETABLES]  WITH CHECK ADD  CONSTRAINT [fk_timetables_week] FOREIGN KEY([APPLY_FROM_WEEK])
REFERENCES [dbo].[SCHOOL_WEEKS] ([WEEK_ID])
GO
ALTER TABLE [dbo].[TIMETABLES] CHECK CONSTRAINT [fk_timetables_week]
GO
ALTER TABLE [dbo].[USERS]  WITH CHECK ADD  CONSTRAINT [fk_users_class_id_ofuser] FOREIGN KEY([CLASS_ID_OFUSER])
REFERENCES [dbo].[CLASSES] ([CLASS_ID])
GO
ALTER TABLE [dbo].[USERS] CHECK CONSTRAINT [fk_users_class_id_ofuser]
GO
ALTER TABLE [dbo].[USERS]  WITH CHECK ADD  CONSTRAINT [fk_users_role_id] FOREIGN KEY([ROLE_ID])
REFERENCES [dbo].[ROLES] ([ROLE_ID])
GO
ALTER TABLE [dbo].[USERS] CHECK CONSTRAINT [fk_users_role_id]
GO
USE [master]
GO
