body {
    margin: auto;
}

a,
a:hover {
    text-decoration: none;
}

.btn {
    min-width: 120px;
}

.btn-customer {
    background: #4267b2;
    font-weight: bold;
    color: white;
    border: none;
    border-radius: .25rem;
    cursor: pointer;
    padding: 10px 15px;
    margin: 10px 5px;
}

.btn-customer:hover {
    color: white;
    background: #35579c;
}

/*Header*/

.myHeader {
    background-color: #4267b2;
}

.logo-img {
    max-height: 70px;
}

.fa-phone {
    transform: rotate(90deg);
}

.navbar-toggler {
    border: 1px solid #FFF;
    margin-right: 30px;
}

.navbar-toggler i {
    font-size: 30px;
}

.dropdown-menu {
    display: block;
    opacity: 0;
    visibility: hidden;
    transform: translateY(20%);
    transition: all .5s;
    border: none;
    color: #ffffff;
    background-color: #4267b2;
}

.dropdown:hover .dropdown-menu {
    opacity: 1;
    visibility: visible;
    transform: translateY(0%);
}

.dropdown-item:hover {
    color: #ffffff;
    text-decoration: underline;
    background-color: transparent;
}

.dropdown-item {
    color: #ffffff;
    text-transform: uppercase;
    background-color: transparent;
}

.dropdown-toggle::after {
    border-top: 0;
    margin-left: 0;
}

.nav-link {
    color: #FFF;
    text-decoration: none;
    font-weight: bold;
    position: relative;
    z-index: 0;
    cursor: pointer;
    text-align: center;
}

.nav-link:hover {
    color: #FFF;
}

.nav-link:before {
    top: 0px;
    transform: translateY(10px);
}

.nav-link:after {
    bottom: 0px;
    transform: translateY(-10px);
}

.nav-link:before,
.nav-link:after {
    position: absolute;
    left: 0px;
    width: 100%;
    height: 2px;
    background: #FFF;
    content: "";
    opacity: 0;
    transition: all 0.3s;
}

.nav-link:not(.active):hover:before,
.nav-link:not(.active):hover:after {
    opacity: 1;
    transform: translateY(0px);
}

/*hide navbar*/
#admin, #schedule-manager, #loginSuccess-menu {
    display: none;
}

.show {
    display: block !important;
}

.hide {
    display: none !important;
}

.active {
    background: #ffffff4f;
    height: 100%;
}

.navbar-collapse {
    padding: 10px 20px;
    padding-right: 0;
}

.contact-number a {
    color: #FFF;
    margin: 0 10px;
    font-weight: 700;
}

.contact-number {
    padding-bottom: 10px;
    padding-right: 20px;
}

.header-hotline {
    border-bottom: 1px solid #FFF;
}

.btn-login {
    color: #FFF;
    font-weight: 700;
    border: 2px solid #FFF;
    min-width: 100px;
}

.btn-login:hover {
    background: #ffffff4f;
    color: #FFFFFF;
}

@media (min-width: 992px) {
    .nav-link {
        text-align: center;
    }
}


/*END Header*/
/*Loading*/

.modal-loading {
    display: none;
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(255, 255, 255, .8) url('http://i.stack.imgur.com/FhHRx.gif') 50% 50% no-repeat;
}

body.loading .modal-loading {
    overflow: hidden;
}

body.loading .modal-loading {
    display: block;
}

/*END Loading*/
/*Footer*/

.footer-area {
    border-top: 1px solid #4267b2;
}

.footer-info {
    align-items: center;
    padding: 10px;
}

.footer-info i {
    font-size: 30px;
    margin-right: 20px;
}

.info-text h6,
.info-text p {
    margin: 0;
}

.info-text a,
.info-text a:hover {
    color: black;
}

.info-icon {
    width: 50px;
}

.widget-about {
    text-align: center;
}

.widget-about img {
    max-height: 90px;
}

.copyright-text p {
    margin: 0;
}

.copyright-text p a,
.copyright-text p a:hover {
    color: black;
}


/*END Footer*/

/*Login*/
.signin-form {
    width: 390px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background: #f2f2f2;
    margin: 30px auto;
    border-radius: 10px;
    overflow: hidden;
    padding: 60px 50px;
}

.login-form-title {
    text-align: center;
}

.form-title-description {
    font-size: 13px;
}

.login-form {
    width: 100%;
}

.form-group {
    position: relative;
    margin-bottom: 25px;
    overflow: hidden;
}

.input-text {
    position: absolute;
    left: 0;
    top: 18px;
    transform: translateY(-50%);
    color: #222;
}

.form-group label i {
    font-size: 18px;
}

.form-group input[type=text], .form-group input[type=password] {
    width: 100%;
    display: block;
    border: none;
    border-bottom: 1px solid #999;
    padding: 6px 30px;
    outline: none;
    background: transparent;
}

.form-group input[type=text]:focus, .form-group input[type=password]:focus {
    border-bottom: 1px solid #222;
}

.form-button {
    text-align: center;
}

.form-submit {
    display: inline-block;
    background: #6dabe4;
    color: #fff;
    border-bottom: none;
    width: auto;
    padding: 15px 39px;
    border-radius: 5px;
    margin-top: 25px;
    cursor: pointer;
}

.form-submit:hover {
    background: #4292dc;
}

.error {
    color: red;
    font-weight: 500;
}

.modal-footer {
    border-top: none;
}

/*END Login*/


/*Manage Account*/

.table-wrapper {
    margin: 30px 0;
    padding: 20px 25px;
}

.table-title {
    align-items: center;
    padding: 10px 0;
}

.table-title-2 {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 10px 0;
}

.search {
    margin: 10px 0;
    align-items: center;
}

.search-line {
    margin: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.search-line input, .search-line select {
    padding: 5px;
    width: 220px;
    color: #495057;
    border: 1px solid #ced4da;
    border-radius: .25rem;
}

.btn-search {
    background-color: #356e91;
    color: #fff;
    border-color: #356e91;
    padding: .375rem 1rem;
    margin: 0 10px;
}

.btn-search:hover {
    color: #fff;
    background-color: #2a5b79;
    border-color: #2a5b79;
}

.table-title-2 div a {
    margin: 0 10px;
}

.table thead th {
    vertical-align: baseline !important;
}

tr.selected {
    background-color: #007bff40 !important;
}

.userlist-result {
    text-align: center;
    font-size: 25px;
}

.table-paging {
    padding: 15px 5px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.table-paging input {
    box-sizing: border-box;
    display: inline-block;
    min-width: 1.5em;
    padding: 0.5em 1em;
    margin-left: -1px;
    text-align: center;
    text-decoration: none !important;
    cursor: pointer;
    color: #0070d2 !important;
    border: 1px solid #dddbda;
    border-radius: 2px;
    background: transparent;
}

.table-paging input.table-paging__page_cur {
    color: white !important;
    background-color: #0070d2;
    border: 1px solid #0070d2;
}

.table-paging input:hover {
    text-decoration: underline;
}

.table-paging input.table-paging__page_cur:hover {
    cursor: default;
    text-decoration: none;
}

.btn-page {
    border-radius: 3px 0 0 3px;
    border: 1px solid #aaa;
    min-width: 36px;
    height: 34px;
    line-height: 34px;
    font-size: 13px;
    background: #fff;
    padding: 0;
}

.pageNumber {
    margin-left: 20px;
}

/* Custom checkbox */
.custom-checkbox {
    position: relative;
    margin-left: 10px;
}

.custom-checkbox input[type="checkbox"] {
    opacity: 0;
    position: absolute;
    margin: 5px 0 0 3px;
    z-index: 9;
}

.custom-checkbox label {
    position: relative;
}

.custom-checkbox label:before {
    width: 18px;
    height: 18px;
}

.custom-checkbox label:before {
    content: '';
    margin-right: 10px;
    display: inline-block;
    vertical-align: text-top;
    background: white;
    border: 1px solid #bbb;
    border-radius: 2px;
    box-sizing: border-box;
    z-index: 2;
}

.custom-checkbox input[type="checkbox"]:checked + label:after {
    content: '';
    position: absolute;
    left: 6px;
    top: 3px;
    width: 6px;
    height: 11px;
    border: solid #000;
    border-width: 0 3px 3px 0;
    transform: inherit;
    z-index: 3;
    transform: rotateZ(45deg);
}

.custom-checkbox input[type="checkbox"]:checked + label:before {
    border-color: #03A9F4;
    background: #03A9F4;
}

.custom-checkbox input[type="checkbox"]:checked + label:after {
    border-color: #fff;
}

.custom-checkbox input[type="checkbox"]:disabled + label:before {
    color: #b8b8b8;
    cursor: auto;
    box-shadow: none;
    background: #ddd;
}

/*Combobox-search*/
div.searchable {
    position: relative;
}

.searchable input {
    padding: 5px;
    padding-right: 25px;
    color: #495057;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    background: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 4 5'%3E%3Cpath fill='%23343a40' d='M2 0L0 2h4zm0 5L0 3h4z'/%3E%3C/svg%3E") no-repeat right .75rem center/8px 10px;
}

.searchable ul {
    display: none;
    width: 100%;
    position: absolute;
    list-style-type: none;
    background-color: #fff;
    border-radius: 0 0 5px 5px;
    border: 1px solid #add8e6;
    border-top: none;
    margin: 0;
    overflow-y: hidden;
    overflow-x: hidden;
    padding: 0;
    z-index: 100;
}

.searchable ul li {
    padding: 7px 9px;
    border-bottom: 1px solid #e1e1e1;
    cursor: pointer;
    color: #6e6e6e;
}

.searchable ul li.selected {
    background-color: #e8e8e8;
    color: #333;
}

.bt-table-field {
    display: block;
    font-size: 20px;
    text-align: center;
    color: #3a70d2;
}


.bt-table-field i:before {
    content: "\f044";
}

.bt-table-edit {
    cursor: pointer;
    display: block;
    text-align: center;
    margin: 0 auto;
}

.bt-risk-indicator {
    font-size: 16px;
    text-align: center;
    padding: 0 !important;
}

.status-active {
    color: #4bdd33;
    margin-left: 30px;
}

.status-deactive {
    color: #ff3154;
    margin-left: 30px;
}

/*status-active i:before, .status-deactive i:before {*/
/*    content: "\f111"!important;*/
/*}*/
/*END Manage Account*/

/*Create Account*/
/*form styles*/
#msform {
    padding-top: 30px;
    text-align: center;
    position: relative;
    box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
    margin: 30px;
}

#msform fieldset {
    background: white;
    border: 0 none;
    border-radius: 0px;
    padding: 20px 30px;
    box-sizing: border-box;
    width: 80%;
    margin: 0 10%;
    position: relative;
}

/*Hide all except first fieldset*/
#msform fieldset:not(:first-of-type) {
    display: none;
}

.text-red {
    color: red !important;
}

/*inputs*/
#msform input[type="text"], #msform input[type="password"], #msform textarea {
    padding: 15px;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    margin-bottom: 10px;
    width: 100%;
    box-sizing: border-box;
    color: #2C3E50;
    font-size: 13px;
}

#msform input:disabled, #msform textarea:disabled {
    background: #ced4da;
}

#msform input:focus, #msform textarea:focus {
    box-shadow: none !important;
    border: 1px solid #80bdff;
    outline-width: 0;
    transition: All 0.5s ease-in;
}

/*buttons*/
#msform .action-button {
    width: 100px;
    background: #4267b2;
    font-weight: bold;
    color: white;
    border: 0 none;
    border-radius: 25px;
    cursor: pointer;
    padding: 10px 5px;
    margin: 10px 5px;
}

#msform .action-button:hover, #msform .action-button:focus {
    box-shadow: 0 0 0 2px white, 0 0 0 3px #4267b2;
}

#msform .action-button-previous {
    width: 100px;
    background: #C5C5F1;
    font-weight: bold;
    color: white;
    border: 0 none;
    border-radius: 25px;
    cursor: pointer;
    padding: 10px 5px;
    margin: 10px 5px;
}

#msform .action-button-previous:hover, #msform .action-button-previous:focus {
    box-shadow: 0 0 0 2px white, 0 0 0 3px #4267b2;
}

/*headings*/
.fs-title {
    font-size: 18px;
    text-transform: uppercase;
    color: #2C3E50;
    margin-bottom: 10px;
    letter-spacing: 2px;
    font-weight: bold;
}

.fs-subtitle {
    font-weight: normal;
    font-size: 13px;
    color: #666;
    margin-bottom: 20px;
}

/*progressbar*/
#progressbar {
    margin-bottom: 30px;
    padding-left: 0;
    overflow: hidden;
    counter-reset: step;
}

#progressbar li {
    list-style-type: none;
    text-transform: uppercase;
    width: 50%;
    float: left;
    position: relative;
    letter-spacing: 1px;
    color: #4267b2;
    font-weight: 500;
}

#progressbar li:before {
    content: counter(step);
    counter-increment: step;
    width: 40px;
    height: 40px;
    line-height: 36px;
    font-size: 20px;
    display: block;
    border-radius: 50%;
    margin: 0 auto 10px auto;
    border: 2px solid lightgrey;
    background: #fff;
}

/*progressbar connectors*/
#progressbar li:after {
    content: '';
    width: 100%;
    height: 2px;
    background: lightgrey;
    position: absolute;
    left: -50%;
    top: 20px;
    z-index: -1;
}

#progressbar li:first-child:after {
    content: none;
}

#progressbar li.active:before, #progressbar li.active:after {
    background: #4267b2;
    color: white;
    border: 2px solid #4267b2;
}

/*END Create Account*/

/*User Information*/
.veen {
    margin: 20px auto;
    border-radius: 10px;
    box-shadow: 1px 2px 5px rgba(0, 0, 0, .31);
    border: solid 1px #cbc9c9;
    padding: 50px 10px;
}

.veen h1 {
    font-size: 32px;
    font-weight: 300;
    color: #4c4c4c;
    text-align: center;
    padding-top: 10px;
    margin-bottom: 10px;
}

.veen hr {
    color: #a9a9a9;
    opacity: 0.3;
}

.veen .info-des {
    margin-top: 20px;
}

.basic-slide {
    display: inline-block;
    padding: 10px 0 10px 15px;
    font-weight: 400;
    border: 1px solid #4267b2;
    width: 250px;
}

.basic-slide:disabled {
    background: #ced4da;
}

.input-info {
    text-align: center;
    display: flex;
    align-items: center;
    margin: 10px 0;
}

.input-info label {
    display: inline-block;
    padding: 15px;
    background: #4267b2;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    color: #fff;
    margin-right: -5px;
    min-width: 140px;
    margin: 0;
}

.input-info .label-customer {
    padding: 30px 15px;
}

.userInfo-err {
    margin-left: 20px;
}

.info-des .btn {
    margin: 20px auto;
}

/*END User Information*/