.violation-class, .violation-status {
    width: 10%;
    text-align: center;
}

.violation-author {
    width: 25%;
    text-align: center;
}

.violation-details {
    width: 35%;
}
.violation-btn{
    width: 5%;
}

@media screen and (max-width: 650px) {
    .violation-class, .violation-status, .violation-author, .violation-details {
        display: block;
        width: 100% !important;
        text-align: left;
    }

    .violation-class:before {
        content: "Lớp: ";
        font-weight: 500;
    }

    .violation-status:before {
        content: "Trạng thái: ";
        font-weight: 500;
    }

    .violation-author:before {
        content: "Người yêu cầu thay đổi: ";
        font-weight: 500;
    }

    .violation-details:before {
        content: "Mô tả lỗi: ";
        font-weight: 500;
    }

    .violation-name {
        display: inline;
        font-weight: normal;
    }
}