<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>

<body>
    <footer class="footer-area footer--light" th:fragment="footer">
        <div class="footer-big">
            <!-- start .container -->
            <div class="container">
                <div class="row mt-5">
                    <div class="col-md-6 col-sm-12">
                        <div class="footer-widget">
                            <div class="widget-about">
                                <img th:src="@{/img/logo.png}" alt="" class="img-fluid">
                                <div class="copyright-text mt-3">
                                    <p>© 2020 Bản quyền thuộc về</p>
                                    <p><a href="#">Trường THPT Chuyên Hoàng Văn Thụ</a></p>
                                    <p><a href="#">Design by Group G24</a></p>
                                </div>
                            </div>
                        </div>
                        <!-- Ends: .footer-widget -->
                    </div>
                    <div class="col-md-6 col-sm-12">
                        <div class="footer-widget">
                            <div class="footer-menu">
                                <div class="col-xl-12 col-m-12">
                                    <div class="footer-info d-flex">
                                        <div class="info-icon">
                                            <i class="fa fa-map-marker"></i>
                                        </div>
                                        <div class="info-text">
                                            <h6>Địa chỉ:</h6>
                                            <p>P.Thịnh Lang - TP.Hòa Binh - Tỉnh Hòa Bình</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-12 col-m-12">
                                    <div class="footer-info d-flex">
                                        <div class="info-icon">
                                            <i class="fa fa-phone"></i>
                                        </div>
                                        <div class="info-text">
                                            <h6>Điện thoại:</h6>
                                            <p><a href="tel:02183-855-550">02183 855 550</a></p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-12 col-m-12">
                                    <div class="footer-info d-flex">
                                        <div class="info-icon">
                                            <i class="fa fa-envelope-open"></i>
                                        </div>
                                        <div class="info-text">
                                            <h6>Email:</h6>
                                            <p><a href="mailto:th.hov@hoabinh.edu.vn">th.hov@hoabinh.edu.vn</a></p>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <!-- end /.footer-menu -->
                        </div>
                        <!-- Ends: .footer-widget -->
                    </div>
                </div>
                <!-- end /.row -->
            </div>
            <!-- end /.container -->
        </div>
        <!-- end /.footer-big -->
    </footer>
</body>

</html>